._3704LK{
    width:600px;
    height: 40px;
}
.L0Z3Pu{
    height: 40px;
    width:50px;
}
.bg-dark {
    background-color:#171338 !important;
    border-radius: 7px;
    padding:1px
}
.btn-secondary{
    background-color:#171338b4 !important;
}
[id=hover]:hover{
    color: brown;
}
.active{
    padding: 1px;
    font-size: 25pt;
    font-weight: 80;
    color: white;
    font-family:'Hanalei'!important;
}
.dropdown-menu{
    background-color:#171338c2 ;
    
}
[id=profile-button]{
    width: 140px;
}
.w-100{
    height: 360px;
}

